{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
    <section class="about-section-four">
            <div class="main__content_title">
                <h2 class="main__content_description">about us</h2>
            </div>

            <div class="pattern-image-left"><img src="images/background/pattern-image-1.png" alt=""></div>
            <div class="pattern-image-right"><img src="images/background/pattern-image-2.png" alt=""></div>

            <div class="auto-container">
                <div class="row clearfix">
                    <!--Title Column-->
                    <div class="title-column col-lg-5 col-md-12 col-sm-12 wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="2000ms" style="visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                        <div class="inner">
                            <div class="sec-title">
                                <div class="upper-text">who are Strnix <span class="icon flaticon-flash"></span></div>
                                <h2>Helping Smart Comapnies With Better Integrated Solar Solutions</h2>
                                <div class="subtitle">For Controling Your Energy Production</div>
                                <div class="bottom-dots clearfix">
                                    <span class="dot line-dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Text Column-->
                    <div class="text-column col-lg-7 col-md-12 col-sm-12">
                        <div class="inner wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="2000ms" style="visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: fadeInRight;">
                            <div class="text-content">
                                <p>Nunc quam arcu, pretium quis quam sed, laoreet efficitur leo. Aliquam era volutpat. Integer lobortis sem consequat consequat imperdiet. In nulla sed viverra ut lorem ut dapibus consectetur diam. Nunc bibendum imperdiet condimentum. Duis lacinia pulvinar turpis lacinia feugiat tellus euismod.</p>
                                <p>Laoreet nec aliquet ut metus. Cras feugiat turpis varius pellentesque eleifend ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            </div>
                            <div class="signature">John H. Stephan</div>
                        </div>
                    </div>
                </div>

                <div class="lower-content">
                    <div class="row clearfix">
                        <!--Default Block-->
                        <div class="default-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="2000ms" style="visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                            <div class="inner-box">
                                <div class="image-box">
                                    <a href="#"><img src="images/resource/featured-image-32.jpg" alt=""></a>
                                </div>
                                <div class="lower-box">
                                    <div class="count">01</div>
                                    <h3><a href="#">Residential Solutions</a></h3>
                                    <div class="text">Pellentesque porta velit faucibs kodales dolor rhoncus sed curabitur</div>
                                </div>
                            </div>
                        </div>
                        <!--Default Block-->
                        <div class="default-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft animated" data-wow-delay="300ms" data-wow-duration="2000ms" style="visibility: visible; animation-duration: 2000ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                            <div class="inner-box">
                                <div class="image-box">
                                    <a href="#"><img src="images/resource/featured-image-33.jpg" alt=""></a>
                                </div>
                                <div class="lower-box">
                                    <div class="count">02</div>
                                    <h3><a href="#">Commercial solutions</a></h3>
                                    <div class="text">Pellentesque porta velit faucibs kodales dolor rhoncus sed curabitur</div>
                                </div>
                            </div>
                        </div>
                        <!--Default Block-->
                        <div class="default-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft animated" data-wow-delay="600ms" data-wow-duration="2000ms" style="visibility: visible; animation-duration: 2000ms; animation-delay: 600ms; animation-name: fadeInLeft;">
                            <div class="inner-box">
                                <div class="image-box">
                                    <a href="#"><img src="images/resource/featured-image-34.jpg" alt=""></a>
                                </div>
                                <div class="lower-box">
                                    <div class="count">03</div>
                                    <h3><a href="#">Solar Thermal Systems</a></h3>
                                    <div class="text">Pellentesque porta velit faucibs kodales dolor rhoncus sed curabitur</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!--Projects Section-->
        <section class="projects-section-three">
            <div class="outer-container clearfix">

                <!--Text Column-->
                <div class="text-column clearfix">
                    <div class="bg-layer"></div>

                    <div class="inner clearfix">
                        <div class="content wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="2000ms" style="visibility: hidden; animation-duration: 2000ms; animation-delay: 0ms; animation-name: none;">
                            <div class="title">
                                <div class="sub-title"><span class="icon flaticon-flash"></span> Projects For World</div>
                                <h2>Works That Matters</h2>
                            </div>
                            <div class="text">Integer lobortis sem consequat consequat imperdiet In nulla viverra ut lorem ut, dapibus consectetur diam. Nun bibendum diet condiment sed ipsum duis lacinia pulvinar dolar turpis.</div>

                            <div class="features">
                                <ul>
                                    <li><span class="gap-icon icon-Wrench"></span> Flexible Cost-Effective Solutions</li>
                                    <li><span class="gap-icon icon-Starship2"></span> Produce Innovative Design Futuristic  Blades</li>
                                    <li><span class="gap-icon icon-WorldGlobe"></span> We Tailored For Specific Client’s Needs</li>
                                </ul>
                            </div>
                            <div class="links-box"><a href="contact.html" class="theme-btn btn-style-one"><div class="btn-title"><span class="btn-txt">View All Works</span><span class="btn-icon"><span class="icon flaticon-arrows-11"></span> </span></div></a></div>
                        </div>
                    </div>
                </div>
                <!--Image Column-->
                <div class="image-column clearfix">
                    <div class="inner clearfix">
                        <!--Text Over Block-->
                        <div class="text-over-block">
                            <div class="inner-box">
                                <div class="block-image-layer" style="background-image: url(images/background/bg-image-15.jpg);"></div>
                                <div class="title">
                                    <span class="icon flaticon-solar-panel"></span>
                                    <span class="txt">our Mission</span>
                                </div>
                                <div class="overlay">
                                    <div class="over-inner">
                                        <div class="icon-box">
                                            <span class="icon flaticon-solar-panel"></span>
                                        </div>
                                        <h3><a href="#">our Mission</a></h3>
                                        <div class="text">Aenean volutpa sem sit amet ullamcorper grav datortor arcu molestie risusut bibendum urna enim nulla. Pellentesque porta arc velit faucibus kodales dolor rhoncus curabitur lacinia sed massa vitae efficitur.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Text Over Block-->
                        <div class="text-over-block">
                            <div class="inner-box">
                                <div class="block-image-layer" style="background-image: url(images/background/bg-image-16.jpg);"></div>
                                <div class="title">
                                    <span class="icon flaticon-trees"></span>
                                    <span class="txt">innovation</span>
                                </div>
                                <div class="overlay">
                                    <div class="over-inner">
                                        <div class="icon-box">
                                            <span class="icon flaticon-trees"></span>
                                        </div>
                                        <h3><a href="#">innovation</a></h3>
                                        <div class="text">Aenean volutpa sem sit amet ullamcorper grav datortor arcu molestie risusut bibendum urna enim nulla. Pellentesque porta arc velit faucibus kodales dolor rhoncus curabitur lacinia sed massa vitae efficitur.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--History Section-->
        <section class="history-section default-theme">
            <div class="auto-container">
                <div class="sec-title centered">
                    <div class="upper-text">Strnix is important <span class="icon flaticon-flash"></span></div>
                    <h2>Strnix Company History</h2>
                    <div class="subtitle">For Controling Your Energy Production</div>
                    <div class="bottom-dots clearfix">
                        <span class="dot line-dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>

                <div class="carousel-box">

                    <div class="history-carousel strnix-carousel owl-theme owl-carousel owl-loaded owl-drag" data-options="{&quot;loop&quot;: true, &quot;margin&quot;: 30, &quot;autoheight&quot;:true, &quot;lazyload&quot;:true, &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 6000, &quot;smartSpeed&quot;: 500, &quot;responsive&quot;:{ &quot;0&quot; :{ &quot;items&quot;: &quot;1&quot; }, &quot;600&quot; :{ &quot;items&quot; : &quot;1&quot; }, &quot;768&quot; :{ &quot;items&quot; : &quot;2&quot; }, &quot;800&quot;:{ &quot;items&quot; : &quot;2&quot; }, &quot;1024&quot;:{ &quot;items&quot; : &quot;3&quot; }, &quot;1200&quot;:{ &quot;items&quot; : &quot;4&quot; }}}">








                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1956px, 0px, 0px); transition: all 0.5s ease 0s; width: 6262px;"><div class="owl-item cloned" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2016</div>
                                <div class="round-dot"></div>
                                <div class="title">Company founded</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2017</div>
                                <div class="round-dot"></div>
                                <div class="title">Features &amp; add-ons</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2018</div>
                                <div class="round-dot"></div>
                                <div class="title">continue to inspire</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2019</div>
                                <div class="round-dot"></div>
                                <div class="title">got best tech award</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2012</div>
                                <div class="round-dot"></div>
                                <div class="title">Company founded</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2013</div>
                                <div class="round-dot"></div>
                                <div class="title">Features &amp; add-ons</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2014</div>
                                <div class="round-dot"></div>
                                <div class="title">continue to inspire</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2015</div>
                                <div class="round-dot"></div>
                                <div class="title">got best tech award</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2016</div>
                                <div class="round-dot"></div>
                                <div class="title">Company founded</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2017</div>
                                <div class="round-dot"></div>
                                <div class="title">Features &amp; add-ons</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2018</div>
                                <div class="round-dot"></div>
                                <div class="title">continue to inspire</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2019</div>
                                <div class="round-dot"></div>
                                <div class="title">got best tech award</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2012</div>
                                <div class="round-dot"></div>
                                <div class="title">Company founded</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2013</div>
                                <div class="round-dot"></div>
                                <div class="title">Features &amp; add-ons</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2014</div>
                                <div class="round-dot"></div>
                                <div class="title">continue to inspire</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 361.333px; margin-right: 30px;"><div class="slide">
                            <div class="history-block">
                                <div class="date">2015</div>
                                <div class="round-dot"></div>
                                <div class="title">got best tech award</div>
                                <div class="text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia masysa vitae sed.</div>
                            </div>
                        </div></div></div></div>


            </div>
        </section>


        <!--Newsletter Section-->
        <section class="newsletter-section">
            <div class="auto-container">
                <!--Big Icon-->
                <div class="big-icon"><span class="flaticon-solar-panel"></span></div>

                <div class="row clearfix">
                    <div class="title-column col-xl-4 col-lg-12 col-md-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="2000ms" style="visibility: hidden; animation-duration: 2000ms; animation-delay: 0ms; animation-name: none;">
                        <div class="inner">
                            <h2>We’re Dedicated To <br>Build A Cleaner Future</h2>
                        </div>
                    </div>
                    <div class="form-column col-xl-8 col-lg-12 col-md-12">
                        <div class="inner">
                            <div class="newsletter-form">
                                <form method="post" action="contact.html">
                                    <div class="row clearfix">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <input id="field-1" type="text" name="field-name" value="" placeholder="Your Name" required="">
                                                <label for="field-1"><span class="far fa-user"></span></label>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <input id="field-2" type="text" name="field-name" value="" placeholder="Your Email" required="">
                                                <label for="field-2"><span class="far fa-envelope-open"></span></label>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <button type="submit" class="theme-btn btn-style-one"><span class="btn-title"><span class="btn-txt">Get More Info</span><span class="btn-icon"><span class="icon flaticon-arrows-11"></span> </span></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Team Section-->
        <section class="team-section default-theme">

            <div class="auto-container">
                <div class="sec-title centered">
                    <div class="upper-text">Strnix is important <span class="icon flaticon-flash"></span></div>
                    <h2>Expert Team Members</h2>
                    <div class="subtitle">For Controling Your Energy Production</div>
                    <div class="bottom-dots clearfix">
                        <span class="dot line-dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>

                <div class="row clearfix">

                    <!--Team Block-->
                    <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 0ms; animation-name: none;">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><a href="#"><img src="images/resource/team-image-1.jpg" alt=""></a></div>
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lower-box">
                                <h3><a href="#">Charles Henry</a></h3>
                                <div class="info">CEO  |  Founder</div>
                            </div>
                        </div>
                    </div>

                    <!--Team Block-->
                    <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 200ms; animation-name: none;">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><a href="#"><img src="images/resource/team-image-2.jpg" alt=""></a></div>
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lower-box">
                                <h3><a href="#">edward matthew</a></h3>
                                <div class="info">Marketing Manager</div>
                            </div>
                        </div>
                    </div>

                    <!--Team Block-->
                    <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 400ms; animation-name: none;">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><a href="#"><img src="images/resource/team-image-3.jpg" alt=""></a></div>
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lower-box">
                                <h3><a href="#">ben christopher</a></h3>
                                <div class="info">Senior Engineer</div>
                            </div>
                        </div>
                    </div>

                    <!--Team Block-->
                    <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: hidden; animation-duration: 1500ms; animation-delay: 600ms; animation-name: none;">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><a href="#"><img src="images/resource/team-image-4.jpg" alt=""></a></div>
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lower-box">
                                <h3><a href="#">lindys thomas</a></h3>
                                <div class="info">Marketing Manager</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <!--Fun Facts Section-->
        <section class="fun-facts-section default-style">
            <div class="bg-pattern-layer"></div>

            <div class="fact-counter">
                <div class="auto-container">

                    <div class="row clearfix">
                        <!--Column-->
                        <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" style="visibility: hidden; animation-name: none;">
                            <div class="inner">
                                <div class="icon-box"><span class="icon flaticon-flash"></span></div>
                                <div class="count-box"><span class="count-text" data-speed="1000" data-stop="24">0</span>+ Years</div>
                                <div class="counter-title">Of Experience &amp; Record</div>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms" style="visibility: hidden; animation-delay: 300ms; animation-name: none;">
                            <div class="inner">
                                <div class="icon-box"><span class="icon flaticon-flash"></span></div>
                                <div class="count-box"><span class="count-text" data-speed="2500" data-stop="3500">0</span>+</div>
                                <div class="counter-title">Systems Installed</div>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms" style="visibility: hidden; animation-delay: 600ms; animation-name: none;">
                            <div class="inner">
                                <div class="icon-box"><span class="icon flaticon-flash"></span></div>
                                <div class="count-box"><span class="count-text" data-speed="1000" data-stop="6.5">0</span>k Watt</div>
                                <div class="counter-title">Energy Financing Done</div>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms" style="visibility: hidden; animation-delay: 900ms; animation-name: none;">
                            <div class="inner">
                                <div class="icon-box"><span class="icon flaticon-flash"></span></div>
                                <div class="count-box"><span class="count-text" data-speed="2500" data-stop="2700">0</span>+</div>
                                <div class="counter-title">Hours Of Inspection</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}