{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Strnix - Green Energy HTML Template | Home Page 01</title>
    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Color File -->
    <!-- Responsive File -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">

    <link rel="stylesheet" href="{% static 'css/style-product.css' %}">
    {% block link %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <!-- Responsive Settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
      maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="{% static 'js/respond.js' %}"></script><![endif]-->

</head>
{% block css %}
{% endblock %}
<body class="page-loaded">

<div class="preloader" style="display: none;">
    <div class="icon"></div>
</div>
{% include 'includes/header.html' %}

{% block content %}

{% endblock %}

{% include 'includes/footer.html' %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/scrollbar.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script src="{% static 'js/paroller.js' %}"></script>
<script src="{% static 'js/my-script.js' %}"></script>
<script src="{% static 'js/element-in-view.js' %}"></script>
<script src="{% static 'js/custom-script.js' %}"></script>

</body>
</html>